[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/davitkalantaryan/googletest.git
[submodule "contrib/emsdk"]
	path = contrib/emsdk
	url = https://github.com/davitkalantaryan/emsdk.git
[submodule "contrib/cinternal"]
	path = contrib/cinternal
	url = https://github.com/davitkalantaryan/cinternal.git
